<div id="myModal" class="Modal">
    <div (click)="onBack(false)" style="position: absolute; left: 0; top: 0;width: 100%; height: 100%;background-color: rgba(0, 0, 0, 0.4); z-index: -1;">

    </div>
    <div class="modal-content">
        <h1>Rate Workers</h1>

        <div class="team">
            <div class="right">
                <table>
                    <thead>
                        <tr>
                            <th>Worker</th>
                            <th>Rating</th>
                            <th>Review</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="hotel_a">

                            <td class="details">
                                <img [src]="worker.user.photo" alt="">
                                <div class="side">
                                    <h2>{{worker.user.skill.name}}</h2>
                                    <h3>{{worker.user.skill.location}}</h3>
                                </div>
                            </td>

                            <td>
                                <div>
                                    <span class="star-rating">
                                  <input id="myinput" type="radio" name="rating" value="1" (change)='Addrating(1,worker,worker.user.skill.ratings)'><i></i>
                                  <input  id="myinput" type="radio" name="rating" value="2" (change)='Addrating(2,worker,worker.user.skill.ratings)'><i></i>
                                  <input   id="myinput"type="radio" name="rating" value="3" (change)='Addrating(3,worker,worker.user.skill.ratings)'><i></i>
                                  <input  id="myinput" type="radio" name="rating" value="4" (change)='Addrating(4,worker,worker.user.skill.ratings)'><i></i>
                                  <input  id="myinput" type="radio" name="rating" value="5" (change)='Addrating(5,worker,worker.user.skill.ratings)'><i></i>
                                </span>
                                </div>
                            </td>

                            <ng-template #Data>
                                <td>
                                    <h2 class="choice">Rated</h2>
                                </td>
                            </ng-template>


                            <td>
                                <form [formGroup]="ReviewForm">
                                    <input placeholder="Add a review" formControlName="comment">
                                </form>

                            </td>

                            <ng-template #reviewed>
                                <td>
                                    <h2 class="choice">Reviewed</h2>
                                </td>
                            </ng-template>


                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <button (click)="onAddreview(worker.id)">Done</button>
    </div>

</div>