.container {
    // border: 1px solid black;
    margin: 12px 12px 12px 40px;
    h1 {
        font-family: "poppins";
        font-size: 18px;
        color: #00000091;
    }
    .add {
        display: flex;
        margin-top: 10px;
        grid-gap: 10px;
        color: #008000de;
        align-items: center;
    }
}

.add :hover {
    cursor: pointer;
    color: greenyellow;
}

.profile {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr auto;
    max-height: 81.5vh;
    overflow: auto;
    .right_side {
        // border: 1px solid black;
        .top {
            display: flex;
            align-items: flex-end;
            span,
            img {
                height: 200px;
                width: 200px;
                border-radius: 50%;
            }
        }
        .controls {
            display: flex;
            grid-gap: 10px;
            .controls_button {
                display: flex;
                grid-gap: 10px;
                align-items: center;
                h3 {
                    color: #0000008c;
                }
            }
        }
        .down {
            display: grid;
            margin-top: 20px;
            .details {
                display: grid;
                grid-template-columns: auto auto;
                margin-top: 20px;
                .details_section {
                    display: grid;
                    grid-gap: 10px;
                    margin-bottom: 10px;
                    h4 {
                        color: #0000008c;
                    }
                    h3 {
                        color: #0000008c;
                        width: 75%;
                        height: 17px;
                        padding: 10px;
                        border: 1px solid #000000b3;
                        box-sizing: border-box;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        // width: 196px;
                    }
                }
            }
        }
        .timeline {
            // border: 1px solid black;
            margin-top: 20px;
            h3 {
                color: #0000008c;
            }
            .img_container {
                // width: 75%;
                // box-sizing: border-box;
                overflow: auto;
                height: 220px;
                display: flex;
                flex-wrap: wrap;
                grid-gap: 20px;
                position: relative;
                i {
                    position: absolute;
                    padding: 5px;
                    background-color: #bebcbc;
                    border-radius: 20%;
                    // margin-right: 20px;
                    z-index: 1;
                    left: 5px;
                    top: 5px;
                    &:hover {
                        cursor: pointer;
                        background-color: #3129298c;
                    }
                }
                img {
                    height: 180px;
                    position: relative;
                }
            }
        }
    }
    .left_side {
        border: 1px solid black;
        height: 600px;
        width: 300px;
        padding: 10px;
        h2 {
            text-align: center;
            font-size: 20px;
            font-weight: 500;
            font-family: 'Roboto';
        }
        .container1 {
            grid-gap: 10px;
            /* border: 1px solid black; */
            height: 50px;
            margin-top: 10px;
            display: grid;
            grid-template-columns: 1fr auto;
            padding: 5px 10px;
            justify-content: center;
            align-items: center;
            background-color: #b0b0b066;
            border-radius: 5px;
        }
        .nameproject {
            h3 {
                font-size: 20px;
                font-weight: 500;
                font-family: 'Roboto';
            }
        }
        .controlsproject {
            display: flex;
            justify-content: center;
            grid-gap: 10px;
            button {
                padding: 5px;
                border: none;
                width: 50px;
                height: 20px;
                border-radius: 6px;
                cursor: pointer;
            }
        }
    }
}

.controls_button:hover {
    // color: rgb(0, 132, 255);
    cursor: pointer;
}