<div>
    <app-navbar></app-navbar>

    <div class="contents">

        <div class="search-box">
            <!-- <label for="searchbox"><span class="material-icons"> search </span></label> -->
            <input type="search" name="search-box" id="search" placeholder="Search for a worker" (keyup)="updateSearch($event.target.value)" />
        </div>

        <div class="workers-container">

            <div class="worker" *ngFor="let worker of allWokers">
                <div class="img-container">
                    <img [src]="worker.photo" alt="">
                </div>
                <h4>{{worker.skill.ratings}}</h4>
                <div class="details">
                    <h3>Name: <span>{{worker.skill.name}}</span></h3>
                    <h3>Profession: <span>{{worker.skill.profession}}</span></h3>
                </div>
            </div>
        </div>

    </div>
</div>
