.contents {
  background: #fff !important;
  background-repeat: no-repeat;
  padding: 15px 0px 70px 0px;
  background-size: 300px 100px;
  display: block !important;
  .search-box {
    position: relative;
    text-align: center;
    // flex-grow: 1;
    // margin-left: 10rem;
  }
  .search-box span {
    position: absolute;
    top: 37%;
    left: 26%;
  }
  #search {
    border-radius: 4px;
    width: 50%;
    padding: 0.5rem;
    padding-left: 2.5rem;
    border: transparent;
    background: #ffffff;
    margin: 30px 20px;
    height: 23px;
    font-size: 13px;
  }
  .workers-container {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 20px;
    padding: 0px 60px;
   
    .worker {
      background: #fff;
      position: relative;
      /* height: 300px; */
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-gap: 20px;
      align-items: stretch;
      flex-direction: column;
      border: 1px solid #ccc;
      box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.8);
      h4 {
        position: absolute;
        top:0px;
        right: 0px;
        width: 33px;
        background-color: #006bd8;
        text-align: center;
        color: #fff;
        padding: 3px 4px;
        font-size: 14px;
        
      }
    }
    .img-container {
      height: 200px;
      max-width: 220px;
      background-color: #ccc;

      img {
        height: 100%;
        width: 100%;
      }
    }
    .details {
      h3 {
        padding:2px;
        margin-left: 21px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 196px;
        color: black;
      }
      span {
        font-size: 15px;
        font-family: "Poppins";
        text-transform: capitalize;
      }
    }
  }
}

.worker:hover {
  cursor: pointer;
  transform: scale(1.04, 1.04);
}
