// Register woker modal
.Modal {
    /*display: none;*/
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    // padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 60px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 75%;
    height: 77%;
    border-radius: 10px;
}

// h4 {
//     text-align: center;
//     color: #ED1E23;
//     font-size: 20px;
// }
.psd {
    margin: 10px 115px 5px;
}

input {
    width: 99%;
    height: 50px;
    border: none;
    border-bottom: 2px solid black;
}

.submit {
    display: flex;
    grid-gap: 0.94rem;
    margin: 40px auto;
    justify-content: center;
}

button {
    height: 4.5rem;
    width: 12.25rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    border: 2px solid;
    outline: transparent;
    cursor: pointer;
    background-color: #2d2991ad;
    color: aliceblue;
    border: none;
}

.wokerbox {
    h1 {
        font-size: 24px;
        font-family: "Roboto";
        align-items: center;
        margin-left: 35%;
    }
    form {
        margin-top: 10px;
        display: grid;
        grid-auto-flow: row;
        // grid-template-columns: 7fr 6fr;
        box-sizing: border-box;
        padding-left: 40px;
        grid-gap: 10px;
    }
}

.right-side {
    input[type=email],
    input[type=text],
    input[type=number] {
        width: 85%;
        padding: 0px 10px;
        margin: 8px 0;
        /* display: inline-block; */
        box-sizing: border-box;
        font-family: "Poppins";
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 100;
        /* line-height: 30px; */
        letter-spacing: 0em;
        border: none;
        border-bottom: 2px solid #00000085;
    }
    select,
    label {
        color: rgba(0, 0, 0, 0.548);
        width: 82%;
        padding: 9px 15px;
        margin: 8px 0;
        box-sizing: border-box;
        font-family: "Poppins";
        font-size: 1.2rem;
        font-style: normal;
    }
}

.left-side {
    margin-top: 10px;
}