<div id="myModal" class="Modal">
    <!-- forgot password details -->
    <div (click)="onBack(false)" style="position: absolute; left: 0; top: 0;width: 100%; height: 100%;background-color: rgba(0, 0, 0, 0.4); z-index: -1;">

    </div>
    <div class="modal-content">
        <div class="wokerbox">
            <h1>Edit Profession Details</h1>

            <div class="woker-content">
                <form [formGroup]='EditWorkerForm' (ngSubmit)='onUpdate()'>
                    <div class="right-side">
                        <input type="text" placeholder="Name or Name of Company" formControlName='name'>

                        <input type="text" placeholder="Other Profession" formControlName='profession'>

                        <input type="text" placeholder="Location(kumasi, Region)" formControlName='location'>

                        <input type="number" placeholder="Phone(+233)" formControlName='phoneNumber'>

                        <input type="email" placeholder="Email" formControlName='email'>

                        <div style="display: block;">
                            <label for="gender">Select Gender: </label>
                            <select name="Gender" id="Gender" formControlName='gender'>
                     <option value="Male">Male</option>
                     <option value="Female">Female</option>
                  </select>
                        </div>


                    </div>
                    <!-- <div class="left-side">
                        <div (click)="onAddpic()" style="display: flex;color: green;    cursor: pointer;
                      grid-gap: 5px;"> <i class="fas fa-plus"></i>
                            <h3>Add pics to showcase your work</h3>
                        </div>
                        <input id="image-upload" type="file" accept="image/*" (change)="onChange($event)" style="display: none;" multiple="" />

                         <img *ngFor='let url of Wokerimages' [src]="url" style="margin: 3px; height: 150px; width:200px"> <br/>

                    </div> -->

                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>

</div>