<div class="container">
    <h1>Projects</h1>

    <div class="add" (click)="onCreateProject()">
        <i class="fas fa-plus"></i>
        <h3>Add a New Project</h3>
    </div>

    <div class="Project_container">

        <div class="project" *ngFor="let item of allprojects;" (click)="onprojectclicked(item)">
            <div class="top" [ngStyle]="{'background-color': item.project.color}">
                <div>
                    <h1>{{item.project.name}}</h1>
                    <h4>{{item.project.description}}</h4>
                </div>
                <div smart-tooltip-container class="">
                    <i class="fas fa-ellipsis-v" style="padding: 5px ; cursor: pointer;"></i>

                    <h3 class="smart-tooltip stay-right stick-300 stayonhover" id="tts">
                        <span (click)="deleteproject($event, item)">Delete project</span>
                        <hr>
                        <span (click)="oneditproject(item, $event)">Edit project</span>

                    </h3>
                </div>
            </div>
            <!-- pogress bar -->
            <div class="circular">
                <div class="inner"></div>
                <div class="number">{{item.project.projectProgress}}%</div>
                <div class="circle">
                    <div class="bar left">
                        <div class="progress"></div>
                    </div>
                    <div class="bar right">
                        <div class="progress"></div>
                    </div>
                </div>
            </div>

            <div class="bottom">

                <div class="hl"></div>
                <div class="controls">
                    <i class="fas fa-hard-hat"><span >{{ item?.Teams?.length}}</span></i>
                    <div *ngIf="it">

                    </div>
                    <i class="fas fa-tasks"><span>{{item?.Tasks?.length}}</span></i>
                    <i style="padding: 5px; " class="far fa-trash-alt" (click)="deleteproject($event, item)"></i>
                </div>
            </div>
        </div>

    </div>
</div>


<div *ngIf="toggle">
    <app-project-modal (onResult)='onModalResult($event)'></app-project-modal>
</div>

<div class="Modal" *ngIf="modalState">
    <app-deletemodal [title]="message" (onResult)="onModalResultdelete($event)"></app-deletemodal>
</div>

<div *ngIf="isEdit">
    <app-edit-project (onResult)='onModalResultEdit($event)'></app-edit-project>
</div>
