.container {
    // border: 1px solid black;
    // margin: 12px 12px 12px 40px;
    padding: 85px 12px;
    // width: 100% important;
    margin: 0px 22px;
    h1 {
        font-family: "poppins";
        font-size: 18px;
        color: #00000091;
    }
    .add {
        display: flex;
        margin-top: 10px;
        grid-gap: 10px;
        align-items: center;
        color: #008000de;
    }
}

.add :hover {
    cursor: pointer;
    color: greenyellow;
}

.Project_container {
    margin-top: 20px;
    position: relative;
    flex-wrap: wrap;
    display: flex;
    grid-gap: 43px 60px;
    height: 83VH;
    overflow: hidden;
    .project {
        position: relative;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        width: 290px;
        height: 280px;
        cursor: pointer;
        .top {
            // background-color: #38b438fa;
            border-radius: 15px 15px 0px 0px;
            padding: 15px 20px;
            font-family: "Poppins";
            color: black;
            display: flex;
            justify-content: space-between;
            h1 {
                text-transform: capitalize;
                font-weight: bold;
                color: black;
            }
            h4 {
                text-transform: capitalize;
                font-weight: 100;
                font-family: 'emoji';
                padding-top: 12px;
            }
            i {
                padding: 8px;
            }
        }
        .bottom {
            position: absolute;
            bottom: -2px;
            padding: 15px 20px;
            width: 244px;
            .controls {
                font-family: 'Material Icons';
                display: flex;
                text-align: center;
                justify-content: space-between;
                align-items: center;
                i {
                    color: rgba(0, 0, 0, 0.603);
                    font-size: 16px;
                    span {
                        padding: 2px;
                    }
                }
            }
            .hl {
                margin-bottom: 20px;
                border-bottom: 3px solid #11101080;
                width: 100%;
            }
        }
    }
}

// progress container
.circular {
    height: 100px;
    width: 100px;
    position: relative;
    margin: 10px 90px;
}

.circular .inner {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    height: 80px;
    width: 80px;
    margin: -40px 0 0 -40px;
    background: white;
    border-radius: 100%;
}

.circular .number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 18px;
    font-weight: 500;
    color: #3a3b3f8c;
}

.circular .bar {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    -webkit-border-radius: 100%;
    clip: rect(0px, 100px, 100px, 50px);
}

.circle .bar .progress {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-border-radius: 100%;
    clip: rect(0px, 50px, 100px, 0px);
    background: #4158d0;
}

.circle .left .progress {
    // z-index: 1;
    animation: left 4s linear both;
}

@keyframes left {
    100% {
        transform: rotate(180deg);
    }
}

.circle .right {
    transform: rotate(180deg);
    // z-index: 1;
}

.circle .right .progress {
    animation: right 4s linear both;
    animation-delay: 4s;
}

@keyframes right {
    100% {
        transform: rotate(180deg);
    }
}

#tts {
    padding: 10px;
    background-color: rgba(46, 62, 150, 0.815);
    width: 100px;
}