<div class="content" [style.background-image]="'url(/img/' +  _projects?.backgroundImage + ')'" [ngStyle]="{'background-size': 'cover', 'background-repeat':'repeat'}">
    <div class="container">
        <div class="container_top">
            <h1>{{_projects?.project?.name}}</h1>
            <!-- <h2>Invite</h2> -->
            <div class="teamcontainer">
                <div *ngFor="let team of Team">

                    <img [src]="team.user.photo" alt="" class="team">
                    <p>{{team.user.firstName}}</p>
                </div>
            </div>

        </div>

        <div class="workarea">
            <!-- <div class="add" (click)="Addlist()">
                <h3 style="color: #003366; font-weight: bold; padding-left: 5px;">Add list</h3>
                <i style="color: #ff6600;" class="fas fa-plus"></i>
            </div>

            <div class="Taskadd" id="newTasklist">
                <div *ngIf="listname;else listdata" (click)=" toggle()">
                    <h3 style="color:#003366">{{Tittle}}</h3>
                </div>



                <ng-template #listdata>
                    <div class="Listname">
                        <input (keydown.enter)="onaddlistname()" type="text" placeholder="Title" #Listname>
                    </div>
                </ng-template>
            </div> -->


            <div style="    display: flex;
            grid-gap: 10px;" cdkDropListGroup>
                <div class="list" *ngFor="let task of listoftasks; let i= index ">

                    <div>
                        <div>
                            <div class="control-button" *ngIf="!hooks[i];else Data;">
                                <h3 (click)="toggle3(i)" style="width: 90%;">{{task.taskname}}</h3>

                                <div id="elemtrack" style='        height: 15px;
                                width: 15px;
                                background-color: rgb(17 117 10);
                                border-radius: 50%;
                                display: none;'></div>

                                <div smart-tooltip-container class="clicktoshow">
                                    <i class="fas fa-ellipsis-v"></i>

                                    <h3 class="smart-tooltip stay-buttom stick-300 stayonhover" id="tts">
                                        <span (click)="deletelist(i)">Delete List</span>
                                        <hr>
                                        <span (click)="toggle3(i)">Rename</span>
                                        <hr>
                                        <div *ngIf=" i+1 == listoftasks.length">
                                            <span (click)="setmeasure(i)">Set Measure</span>
                                            <hr>
                                            <span (click)="unsetmeasure(i)">Unset Measure</span>
                                        </div>

                                    </h3>
                                </div>

                            </div>
                        </div>

                        <!-- template for list of Task title -->
                        <ng-template #Data>
                            <div class="Listname">
                                <input (keydown.enter)="onlistname(i)" type="text" placeholder="New title" #changeListname>
                            </div>
                        </ng-template>
                        <!-- template for list of Task title -->
                    </div>


                    <div>
                        <div class="add1" (click)="Addcard(i)" *ngIf="!hooks2[i];else carddata">
                            <h3 style="margin-left: 5px;">Add card</h3>
                            <i class="fas fa-plus"></i>
                        </div>


                        <ng-template #carddata>
                            <div class="cardname">
                                <input (keydown.enter)="oncardname(i)" type="text" placeholder="Add a text" #Cardname>
                            </div>

                        </ng-template>
                    </div>


                    <div cdkDropList #task.taskname="cdkDropList" [cdkDropListData]="task.taskname" class="example-list" (cdkDropListDropped)="drop($event,i)">
                        <div>
                            <div *ngFor="let item of task.task; let a=index" cdkDrag>
                                <div class="example-box1" style=" margin-bottom: 5px;">
                                    <div class="example-box">
                                        <span>{{item.task}}</span>
                                        <!-- slide show -->
                                        <div smart-tooltip-container class="clicktoshow">
                                            <i class="fas fa-ellipsis-v" style="padding: 5px ; cursor: pointer;"></i>

                                            <h3 class="smart-tooltip stay-bottom overlay stick-300 stayonhover" id="tts">
                                                <span (click)="deletecard(item,a,i)">Delete card<i
                                                        class="fas fa-trash"></i></span>
                                                <hr>
                                                <span (click)="assigntaskmodal(a,i)">Assign to<i
                                                        class="fas fa-tasks"></i></span>
                                                <hr>
                                                <span (click)="uploadimage(a,i)">Add Image <i
                                                        class="fas fa-camera"></i></span>
                                                <input id="file-upload5" type="file" accept="image/*" (change)="onChange($event)" style="display:none" />
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="img-container" *ngIf="item.img!=0">

                                        <img [src]="item.img" alt="">

                                        <a [href]="item.img" [download]="filename">
                                            <i class="fas fa-download"></i>
                                        </a>

                                    </div>

                                    <div class="example-box2">
                                        <h4> IB:
                                            <span>{{item.issuedby}} </span>
                                        </h4>
                                        <h4 style="display: flex;
                                        align-items: center;">AT:
                                            <h5 style="white-space: nowrap;
                                            text-overflow: ellipsis;
                                            overflow: hidden;
                                            width: 65px;">{{item.assignedto}} </h5>
                                        </h4>
                                    </div>


                                    <!-- <hr> -->
                                </div>
                                <!-- <i class="fas fa-ellipsis-v" style="padding: 5px ; cursor: pointer;"></i> -->
                            </div>
                        </div>

                    </div>

                </div>
            </div>



        </div>
    </div>
</div>
<div *ngIf="rate">
    <app-ratings (onResult)='onModalResult($event)'></app-ratings>
</div>

<!-- modal to display the list  of members -->

<div id="myModal" class="Modal" *ngIf="modalstate">
    <!-- forgot password details -->
    <div (click)="onBack(false)" style="position: absolute; left: 0; top: 0;width: 100%; height: 100%;background-color: rgba(0, 0, 0, 0.4); z-index: -1;">

    </div>
    <div class="modal-content">
        <div class="wokerbox">
            <h1 style="text-align: center;">List of workers</h1>

            <div class="woker-content" *ngFor="let item of Team" (click)="assigntask(item)">
                <div class="nameworker">
                    <h3>{{item.user.skill.name}}</h3>
                    <h4>{{item.user.skill.ratings}}<span class="fa fa-star checked" style="    color: orange;"></span>
                    </h4>
                </div>
                <div class="controls">
                    <i class="fas fa-user-minus"></i>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="smallscrren">
    <h2>Use a computer or a device with a wider screen for great user experience.</h2>
</div>
