<div class="content" [style.background-image]="'url(/img/' +  _projects.backgroundImage + ')'" [ngStyle]="{'background-size': 'cover', 'background-repeat':'repeat'}">
    <div class="container">
        <div class="container_top">
            <h1>{{_projects.project?.name}}</h1>
            <h2>Invite</h2>
        </div>

        <div class="workarea">
            <div class="add" style="display: flex;color: green;    cursor: pointer;
            grid-gap: 5px;">
                <i class="fas fa-plus"></i>
                <h3>Add list</h3>
            </div>

            <div class="example-container">
                <h2>To do</h2>

                <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doneList]" class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
                </div>
            </div>

            <div class="example-container">
                <h2>Done</h2>

                <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList]" class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
                </div>
            </div>

        </div>
    </div>
