// Register woker modal
.Modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background:#003366;
  margin:10px 280px;
  padding: 20px;
  border: 1px solid #888;
  width: 75%;
  height: 95%;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.9);
  z-index: 1;
  
}
h1 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  
}

.submit {
  display: flex;
  grid-gap: 0.94rem;
  margin: 40px auto;
  justify-content: center;
}

button {
  background-color: #ff6801;
  color: white;
  position: absolute;
  bottom: 60px;
  right: 20px;
  width: 140px;
  display: inline-block;
  height: 40px;
  font-size: 13px;
  font-family: "Poppins";
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  border: none;
  cursor: pointer;
}

.wokerbox {
  h1 {
    font-size: 24px;
    font-family: "Roboto";
    align-items: center;
    margin-left: 35%;
  }
  
  form {
    margin-top: 10px;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 7fr 6fr;
    box-sizing: border-box;
    padding-left: 40px;
    grid-gap: 10px;
  }
}

.right-side {
  input[type="email"],
  input[type="text"],
  input[type="number"]
   {
    height: 46px;
    padding: 0 16px;
    border: 2px solid #ddd;
    border-radius: 4px;
    outline: 0;
    transition: 0.2s;
    margin-top: 20px;
    width: 85%;
    font-family: "Poppins";
  }
  select {
    position: relative;
    background: 0 0;
    z-index: 10;
     width: 85%;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 4px; 
    font-family: "Poppins";
    
  
  }
  label {
    color: #fff;
    margin-right: 10px;
    font-family: "Poppins";
    font-size: 0.9rem;
    font-size: 14px;
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 3px;
    display: block;
  }
}

.left-side {
  margin-top: 10px;
}

 input:focus, select:focus {
    border: 1px solid #003366; }

    @media screen and (max-width: 992px) {
      .Modal {
        width: calc(100% - 40px);
        max-width: 100%; }
    
      .modal-content {
        flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column; }
        .worker-box {
          width: 100%; } 
      }
      @media screen and (max-width: 768px) {
        .right-side {
          padding: 50px 40px 50px 40px; } }