* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Mycontainer {
    padding-bottom: 10px;
}

.login-container {
    background-image: url("../../assets/Login.jpg");
    background-position: center;
    background-size: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.login-box {
    background-color: #fd7014;
    width: 400px;
    /* height: 450px; */
    box-shadow: -5px 5px 50px rgb(0 0 0 / 30%), 5px -5px 50px rgb(0 0 0 / 10%);
    /* margin: 0 15px; */
    border-radius: 10px;
    opacity: 0.9;
    padding: 20px;
}

form {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
    a {
        color: white;
        margin-left: 5px;
        &:hover {
            cursor: pointer;
            
        }
    }
}

.login-box h1 {
    font-family: "Poppins";
    /* font-weight: 300; */
    font-size: 24px;
    padding: 13px 10px 5px 3px;
    /* text-align: start; */
    color: white;
}

.login-box h4 {
    margin: 0px 8px;
}

input[type="email"],
input[type="password"] {
    width: 90%;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    /* color: black; */
    /* letter-spacing: 1px; */
    /* margin-bottom: 20px; */
    border: none;
    /* outline: none; */
    margin: 10px 5px;
    color: black;
    /* font-family: FontAwesome, "Open Sans", Verdana, sans-serif; */
    background: white;
}

input[type="email"]::placeholder,
input[type="password"]::placeholder {
    color: black !important;
}

form .psw a {
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-weight: 200;
    color: white;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 18px;
    float: right;
}

form button {
    height: 2.5rem;
    width: 30%;
    font-size: 16px;
    font-weight: 300;
    /* margin: 20px 22px; */
    /* padding: 2px; */
    background-color: white;
    /* border: none; */
    /* outline: none; */
    color: black;
    cursor: pointer;
    font-family: "Poppins";
    border-radius: 4px;
    margin: 12px 7px;
}

.email-checker {
    text-align: center;
    margin: 1.5rem;
    color: red;
}

.change {
    display: contents;
    a {
        // height: 6.5rem;
        // width: 18rem;
        margin-left: 25%;
        // background: rgb(111, 202, 224);
        font-family: "Poppins";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 60px;
        color: white;
        // margin-right: 65px;
        // border-radius: 20px;
        // margin-top: 20px;
    }
    a:hover {
        color: #009caa;
        cursor: pointer;
        strong {
            font-weight: bold;
        }
    }
}

@media (max-width: 520px) {
    form {
        padding: 20px 30px;
    }
    .change {
        a {
            margin-left: 23%;
        }
    }
}

@media (max-width: 400px) {
    .change {
        a {
            margin-left: 19%;
        }
    }
}
