<div style="
padding: 80px 0px 0px 0px;
">
    <!-- <app-navbar></app-navbar> -->

    <!-- <div class="contents" style="background: url('../../assets/background.png')">

        <div class="search-box">
            <span class="material-icons"> search </span>
            <input type="search" name="search-box" id="search" placeholder="Search for a worker" (keyup)="updateSearch($event.target.value)" />
        </div>

        <h2>Categories</h2>
        <div class="workers-container" id="workers">

            <div class="worker" *ngFor="let worker of allProfessionCategory" (click)="opencategory(worker.name)">
                <div style="    text-transform: capitalize;">{{worker.name}}s</div>
                <div class="img-container" *ngIf="worker.name!='Plumber'">
                    <img src="../../assets/andy.jpg" alt="">
                </div>
                <div class="img-container" *ngIf="worker.name=='Plumber'">
                    <img src="../../assets/emma.jpg" alt="">
                </div>

                <div class="details">
                    <h3>See more...</h3>
                </div>
            </div>
        </div>
        <app-search id="searchResults" style="display: none;"></app-search>
    </div> -->

    <!-- <app-chatbox></app-chatbox> -->


    <!-- New CAtegories page -->
    <div style="background-image: url(../../assets/Woodwork.jpg);   ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 47%;
    background-color: #e7e7e7;
    height: 250px;
    width: 100%;
    padding: 1px 0px;
    ">

        <!-- SLIDE SHOW/////////////////////////////////////////////////////////////// -->
        <div class="slideshow-container">

            <!-- Full-width slides/quotes -->
            <div class="mySlides">
                <q>Listen better. Plan better. Build better.</q>

            </div>

            <div class="mySlides">
                <q>Get it done in time, get it done in design.</q>

            </div>

            <div class="mySlides">
                <q>Don’t do it yourself when we are here to do it.</q>

            </div>

            <!-- Next/prev buttons -->
            <!-- <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a> -->
        </div>

        <!-- Dots/bullets/indicators -->
        <div class="dot-container">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>

        <!-- SLIDE SHOW/////////////////////////////////////////////////////////////// -->

    </div>
    <div style="padding: 0px 20px;">
        <div class="displayworkers">
            <h1>Categories</h1>

            <div class="theworkers">
                <div class="worker-con">
                    <div (click)="opencategory(worker.name)" class="worker" *ngFor="let worker of allProfessionCategory | paginate: { itemsPerPage: count, currentPage: c }
             ">
                        <div *ngIf="worker.name=='Carpenter'">
                            <img src="../../assets/carpenter.jpg" alt="Avatar" class="image">
                        </div>

                        <div *ngIf="worker.name=='Plumber'">
                            <img src="../../assets/plumber.jpg" alt="Avatar" class="image">
                        </div>

                        <div *ngIf="worker.name=='Bricklayer'">
                            <img src="../../assets/bricklayer.jpg" alt="Avatar" class="image">
                        </div>

                        <div *ngIf="worker.name=='Acoustics consultant'">
                            <img src="../../assets/consultant.jpg" alt="Avatar" class="image">
                        </div>
                        <div *ngIf="worker.name=='Stonemason'">
                            <img src="../../assets/stone.jpg" alt="Avatar" class="image">
                        </div>
                        <div *ngIf="worker.name=='Tiler'">
                            <img src="../../assets/pexels-kinga-longa-1652544.jpg" alt="Avatar" class="image">
                        </div>
                        <div *ngIf="worker.name=='Welder'">
                            <img src="../../assets/pexels-movidagrafica-barcelona-1474993.jpg" alt="Avatar" class="image">
                        </div>
                        <div *ngIf="worker.name=='Wood machinist'">
                            <img src="../../assets/394213-woodmachinist.jpg" alt="Avatar" class="image">
                        </div>
                        <div *ngIf="worker.name=='Architect'">
                            <img src="../../assets/architect.jfif" alt="Avatar" class="image">
                        </div>
                        <div class="overlay">
                            <div class="text">{{worker.name}}</div>
                        </div>

                    </div>
                </div>
                <pagination-controls style="   margin-right: 40px; float: right;margin-bottom:16px; margin-top: 10px;" (pageChange)="c = $event"></pagination-controls>
            </div>

            <h1 class="tra">Top rated Artisans</h1>
            <div class="theworkers">
                <div class="worker-con">
                    <div (click)="openWorker(worker)" class="worker" *ngFor="let worker of highlyratedworkers | paginate: { itemsPerPage: count, currentPage: p }
           ">
                        <div>
                            <img [src]="worker.user.photo" alt="Avatar" class="image">
                        </div>

                        <h4 style="    position: absolute;
                top: 0px;
                right: 0px;
                width: 63px;
                background-color: #fd926f;
                text-align: center;
                z-index: 1;
                border-top-right-radius: 15px;
                border-bottom-left-radius: 15px;
                color: white;
                padding: 3px 4px;
                font-size: 14px;">{{worker.user?.skill.ratings}} <span class="fa fa-star"></span></h4>

                        <div class="overlay">
                            <div class="text">{{worker.user.skill.name}}</div>
                        </div>
                    </div>


                </div>
                <pagination-controls (pageChange)="p = $event" style=" float: right;margin-bottom:16px;
        margin-top:5px; margin-right: 40px;"></pagination-controls>

            </div>

        </div>
    </div>


    <div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a>Manage workers</a></li>
                            <li><a>Create Project</a></li>
                            <li><a>Find skilled personnels</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a>Company</a></li>
                            <li><a>Team</a></li>
                            <li><a>Legacy</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Careers</h3>
                        <ul>
                            <li><a>Job openings</a></li>
                            <li><a>Employee success</a></li>
                            <li><a>Benefits</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </footer>
    </div>
</div>
