<div class="back">
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form [formGroup]="signupForm" (ngSubmit)="onSubnmit()">
                <h1>Create Account</h1>

                <div class="social-container">
                    <a class="social"><i class="fab fa-facebook-f"></i></a>
                    <a class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>or use your email for registration</span>
                <input type="text" placeholder="Surname" formControlName="Surname" />
                <input type="text" placeholder="First Name" formControlName="Othername" />
                <input type="email" placeholder="Email" formControlName="email" />
                <input type="password" placeholder="Password" formControlName="Confirmpassword" autocomplete="on" />
                <button type="submit">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container" [ngStyle]="{'grid-template-rows': isValid? '1fr .5fr .5fr .5fr .5fr .5fr1fr 1fr 1fr 1fr 1fr 1fr':'2fr 1.4fr 1.4fr 1.4fr' }">

            <form [formGroup]="LogInForm" (ngSubmit)="onSubmitLogin()">
                <h1>Sign in</h1>
                <!-- <h4 style="font-size: 16px;
                    color: #00000073;">Please enter the details you used during registration</h4> -->
                <div class="social-container">
                    <a class="social"><i class="fab fa-facebook-f"></i></a>
                    <a class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>or use your account</span>
                <span class="email-checker" *ngIf="errorMessage">{{_errormessage}}</span>

                <input type="email" placeholder="Email" formControlName="email" />
                <input type="password" placeholder="Password" formControlName="password" autocomplete="on" />
                <a (click)="onToggle()">Forgot your password?</a>
                <button type="submit">Sign In</button>


            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left" id="overlay">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn" (click)="signin()">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right" id="overlay">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp" (click)="signup()">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

</div>

<div *ngIf="forgot">
    <app-password (onResult)='onModalResult($event)'></app-password>
</div>