[type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
    padding-left: 0;
    cursor: auto;
    display: inline-block;
    height: auto;
    line-height: auto;
    font-size: 1rem;
    transition: none;
}
* {
  box-sizing: border-box;
}
:root {
  font-size: calc(10px + .5vw);
}
body {
  position: relative;
  display: flex;
  height: auto;
  width: 100vw;
  min-height: 100vh;
  font-size: .8rem;
  font-family: roboto;
  overflow-x: hidden;
  background: radial-gradient(ellipse at center, rgba(86,76,132,1) 0%, hsl(248, 25%, 54%) 100%);
}
input[type=radio] {
  display: none;
  &:before, &:after {
    display: none;
  }
}
[type="radio"]+label:before, [type="radio"]+label:after {
  display: none;
}
#selector1:checked ~ #label1, #selector2:checked ~ #label2 {
  z-index: 2;
  > article {
    transform: rotateZ(0deg) scale(1);
    header {
      cursor: default;
    }
  }
}
#label1,#label2 {
  position: absolute;
  top: 10%;
  left: calc(50% - 9.5rem);
  > article {
    transform: translateX(-5.05rem) rotateZ(-90deg) scale(.8);
    transition: transform .3s ease-out;
    header {
      cursor: pointer;
    }
    footer {
      button {
      }
    }
  }
}
.wrapper {
  position: relative;
  top:0;
  left:0;
  height: 100vh;
  width: 100%;
  margin: 0;
  transform: translate3d(0, 0, 0);
}
.card {
  height: auto;
  width: 19rem;
  max-width: 19rem;
  padding: 0;
  margin: 1em 0;
  background: hsl(248, 25%, 54%);
  box-shadow: 0 0 1.1rem .3rem hsla(0, 0%, 10%, 1);
  border-radius: 5px;
  header {
    height: auto;
    width: 100%;
    padding: 1.2em 0;
    margin: 0;
    background: hsla(0, 0%, 10%, .4);
    font-weight: normal;
    border-bottom: .15em solid hsla(0, 0%, 10%, .4);
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    h2 {
      margin: 0;
      font-size: 1.2rem;
      color: hsla(0, 0%, 100%, .8);
      text-align: center
    }
  }
  section {
    height: auto;
    width:100%;
    padding: .5rem 0;
    .input-wrap{
      position: relative;
      top: 0;
      left: 0;
      display: flex;
      height: 3rem;
      width: calc(100% - 3rem);
      padding: 0;
      margin: 1.5rem 1.5rem;
      > input, > label {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding-left: 1rem;
        //background: transparent;
        font-size: 1rem;
      }
      > input {
        box-sizing: border-box;
        margin: 0;
        border: .1rem solid;
        border-color: transparent;
        outline: 0;
        color: hsla(0, 0%, 100%, 1);
        background: transparent;
        z-index: 1;
        &:focus {
          border-color: whitesmoke;
          + label {
            color: transparent;
          }
        }
        &:focus:not([readonly]) {
          border-color: whitesmoke;
          box-shadow: none;
          + label {
            color: transparent;
          }
        }
      }
      > label {
        color: hsla(0, 0%, 100%, .7);
        background: hsla(0, 0%, 100%, .3);
        line-height: 3rem;
        &:selection {
          background: transparent;
        }
      }
      > button {
        background: hsla(0, 0%, 0%, .1);
        border: .1rem solid hsla(0, 0%, 100%, .1);
        color: hsla(0, 0%, 100%, .5);
        font-size: 1rem;
        height: 100%;    
        outline: 0;
        padding: 0;
        transition: color .1s border .1s;
        width: 100%;
        &:focus {
          color: hsla(0, 0%, 100%, 1);
          border: .1rem solid hsla(0, 0%, 100%, 1);
          
        }
        &:not(:active) {
          border: .1rem solid hsla(0, 0%, 100%, .1);
        }
      }
    }
  }
  footer {
    height: auto;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    > button {
      height: auto;
      width: 100%;
      padding: 1.2rem 0;
      border: 0;
      outline: 0;
      font-size: 1.2rem;
      color: hsl(0, 0%, 100%);
      background: hsl(93, 48%, 56%);
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      &:active {
      }
      &:hover {
        
      }
    }
  }
}
.blurred {
  filter: blur(.25rem);
}
input:not(:focus):not(:placeholder-shown) + label{
  color: transparent;
}