
<div class="wrapper">
    <input id="selector1" type="radio" name="cardSwitch" checked="checked"/>
    <label id="label1" for="selector1">
      <article class="card card1">
        <header>
          <h2>PLEASE REGISTER</h2>
        </header>
        <section>
          <div class="input-wrap">
            <input id="email1" type="text" placeholder=" "/>
            <label for="email1">Email</label>
          </div>
          <div class="input-wrap">
            <input id="password1" type="password" placeholder=" "/>
            <label for="password1">Password</label>
          </div>
          <div class="input-wrap">
            <input id="confirmPassword1" type="password" placeholder=" "/>
            <label for="confirmPassword1">Confirm Password</label>
          </div>
        </section>
        <footer>
          <button class="waves-effect waves-ripple waves-light">Sign Up</button>
        </footer>
      </article>
    </label>
    <input id="selector2" type="radio" name="cardSwitch"/>
    <label id="label2" for="selector2">
      <article class="card card2">
        <header>
          <h2>ALREADY HAVE AN ACCOUNT?</h2>
        </header>
        <section>
          <div class="input-wrap">
            <input id="email2" type="text" placeholder=" "/>
            <label for="email2">Email</label>
          </div>
          <div class="input-wrap">
            <input id="password2" type="password" placeholder=" "/>
            <label for="password2">Password</label>
          </div>
          <div class="input-wrap">
            <button class="waves-effect waves-light">Forgot your Password?</button>
          </div>
        </section>
        <footer>
          <button class="waves-effect waves-ripple waves-light">Sign In</button>
        </footer>
      </article>
    </label>
  </div>

<!-----<div class="login-container">
    <div class="login-box">
        <div class="logo">
            <img src="../../assets/Construction Helmet Mockup 1 1.png" alt="" srcset="">
            <h2>Construct-Tek</h2>
        </div>
        <form [formGroup]="signupForm" (ngSubmit)="onSubnmit()">
            <div class="Mycontainer">
                <h1>SignUp</h1>
                <!-- <span class="email-checker" *ngIf="errorMessage"> Email or Password is invalid. Please try again</span> -->
              <!------  <input type="text" placeholder="Surname" formControlName="Surname">

                <input type="text" placeholder="Other names" formControlName="Othername">

                <input type="email" placeholder="company Email" formControlName="email">

                <!-- <input type="password" placeholder="password" formControlName="password" autocomplete="on"> -->

                <!--------<input type="password" placeholder="password" formControlName="Confirmpassword" autocomplete="on">

                <div class="change">
                    <button type="submit"> Sign Up</button>
                    <a routerLink="/login"> <u>Already have an account? <strong> Login</strong></u></a>
                </div>
            </div>
        </form>
    </div>
    <div style="background-image: url(../../assets/signup.jpg);   background-size: cover;
  background-repeat: no-repeat;
  background-position: 47%;
  background-color: #e7e7e7;">

    </div>
</div> -------->
