<div class="login-container">
    <div class="login-box">

        <form [formGroup]="signupForm" (ngSubmit)="onSubnmit()">
            <div class="Mycontainer">
                <h1>SignUp</h1>
                <!-- <span class="email-checker" *ngIf="errorMessage"> Email or Password is invalid. Please try again</span> -->
                <input type="text" placeholder="Surname" formControlName="Surname">

                <input type="text" placeholder="Other names" formControlName="Othername">

                <input type="email" placeholder="company Email" formControlName="email">

                <!-- <input type="password" placeholder="password" formControlName="password" autocomplete="on"> -->

                <input type="password" placeholder="password" formControlName="Confirmpassword" autocomplete="on">

                <div class="change">
                    <button type="submit"> Sign Up</button>
                </div>
            </div>

            <a style="color: white !important; cursor: pointer;" routerLink="/login"> Have an account? <strong> Login</strong></a>

        </form>
    </div>
    <div style="background-image: url(../../assets/signup.jpg);   background-size: cover;
  background-repeat: no-repeat;
  background-position: 47%;
  background-color: #e7e7e7;">

    </div>
</div>
