<!-- <div style="    padding: 54px 0px;
">

    <div class="content">
        <div class="worker-container">
            <div class="left">
                <div class="img-container">
                    <i *ngIf="!workerdetails.user?.photo" class="far fa-user"></i>
                    <img *ngIf="workerdetails.user?.photo" [src]="workerdetails.user.photo" alt="">
                </div>
            </div>

            <div class="left2">
                <div class="img-container">
                    <i *ngIf="!workerdetails.user?.photo" class="far fa-user"></i>
                    <img *ngIf="workerdetails.user?.photo" [src]="workerdetails.user.photo" alt="">
                </div>
            </div>

            <div class="right">

                <div class="top">
                    <div class="top-name">
                        <h1>{{workerdetails.user?.skill?.name}}</h1>
                        <div style="align-items: center;">
                            <i class="fas fa-map-marker-alt"></i>
                            <h3>{{workerdetails?.user?.skill?.location}}</h3>
                        </div>
                    </div>

                    <div class="control">
                        <div smart-tooltip-container class=" control clicktoshow">
                            <i class="fas fa-plus"></i>
                            <h3>Request</h3>

                            <h2 class="smart-tooltip stay-buttom stick-300 stayonhover" id="requests">
                                <div *ngIf=" projects !=0;else pppp">
                                    <span *ngFor="let item of projects">
                                  <h5 (click)="onRequest(item)">{{item.project.name}}</h5>
                                </span>
                                </div>

                                <ng-template #pppp>
                                    <h5>No projects </h5>
                                </ng-template>
                            </h2>
                        </div>
                    </div>
                </div>
                <h2 style="padding: 5px 0px;
                color: #4283E4;
                font-size: 20px;
                font-family: 'Font Awesome 5 Free';
                font-weight: 700;">{{workerdetails.user.skill.profession}}
                </h2>
                <div class="ratings">
                    <h3>Ratings</h3>
                    <div style="display: flex; grid-gap: 10px">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <h2>{{workerdetails.user.skill.ratings}}</h2>
                </div>
                <div class="details">
                    <div class="headings">
                        <h3 (click)="ontimeline()" id="timefont">Timeline</h3>
                        <h3 (click)="onAbout()" id="aboutfont">About</h3>
                        <h3 (click)="onReviews()" id="reviewfont">Reviews</h3>
                    </div>
                    <hr>

                    <div class="about" id="about">
                        <h3>Contact info</h3>

                        <div>
                            <div class="qqqq">
                                <h4>Phone:</h4>
                                <span>0{{workerdetails.user?.skill?.phoneNumber}}</span>
                            </div>

                            <div class="qqqq">
                                <h4>Email:</h4>
                                <span>{{workerdetails.user?.skill?.email}}</span>
                            </div>
                        </div>

                        <h3>Other information</h3>
                        <div>

                            <div class="qqqq">
                                <h4>Gender:</h4>
                                <span>{{workerdetails.user?.skill?.gender}}</span>
                            </div>

                        </div>
                    </div>

                    <div class="timeline" id="timeline">
                        <h3>Timeline Photos</h3>
                        <div class="img-container" *ngIf="workerdetails.user.skill.Wokerimages.length > 0; else name">
                            <div *ngFor="let item of workerdetails.user.skill.Wokerimages;" class="divdiv">
                                <img [src]="item" alt="">
                            </div>
                        </div>
                        <ng-template #name>
                            <h3 style="    color: #00000099;
                            margin: 200px;">No timeline photos available</h3>
                        </ng-template>


                    </div>

                    <div class="review" id="review">

                        <h1 style="
                      font-size: 19px;
                      font-weight: 400;
                      ">Reviews</h1>
                        <div class="comment" *ngFor="let review of workerdetails.user.skill.reviews">
                            <div *ngIf="!workerdetails.user.skill.reviews">
                                <i class="far fa-user-circle"></i>
                            </div>
                            <div *ngIf="workerdetails.user.skill.reviews">
                                <img [src]="review.image" alt="image">
                            </div>

                            <div class="cmt">
                                <h4>{{review.name}}</h4>
                                <h3>{{review.comment}}</h3>
                            </div>
                        </div>

                        <div class="add-comment">
                            <img [src]="reviewimage" alt="">
                            <form [formGroup]="ReviewForm" (ngSubmit)="onsend()">
                                <input type="text" placeholder="Add a review" formControlName="comment">
                                <i style="    margin-left: 5px;
                              padding: 4px;
                              color: blue;" class="far fa-paper-plane" (click)="onsend()"></i>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div> -->


<!-- <div class="top-bar">
    <div class="mobile-toggle-container">
        <img src="https://res.cloudinary.com/jorpdesigns/image/upload/v1533118808/menu-button-of-three-horizontal-lines.png" alt="menu-icon" />
    </div>
    <div class="logo-container">
        <img src="https://res.cloudinary.com/jorpdesigns/image/upload/v1533121745/man-user.png" alt="profile logo" />
    </div>
    <div class="search-container">
        <img src="https://res.cloudinary.com/jorpdesigns/image/upload/v1533118681/musica-searcher.png" alt="search-icon" />
    </div>
</div> -->
<div style="    padding: 80px 0px;
">
    <div class="profile-container">


        <div class="profile-container-wrapper">

            <div class="profile-photo">

                <i *ngIf="!workerdetails.user?.photo" class="far fa-user"></i>
                <img *ngIf="workerdetails.user?.photo" [src]="workerdetails.user.photo" alt="">

            </div>
            <div class="profile-info">
                <!-- <span class="following-count"><b>FOLLOWING</b> 357</span>•<span class="follower-count"><b>FOLLOWERS</b> 1012</span> -->
                <br>
                <span class="display-name">{{workerdetails.user?.skill?.name}}</span>
                <!-- <span class="username">@JohnJames</span> -->
                <!-- <span class="website"><a href="#">www.jorpdesigns.com</a></span> -->
                <br>

            </div>

            <div class="controlqwee">
                <div class="control">
                    <div smart-tooltip-container class=" control clicktoshow">
                        <i class="fas fa-plus"></i>
                        <h3>Request</h3>

                        <h2 class="smart-tooltip stay-buttom stick-300 stayonhover" id="requests">
                            <div *ngIf=" projects !=0;else pppp">
                                <span *ngFor="let item of projects">
              <h5 (click)="onRequest(item)">{{item.project.name}}</h5>
            </span>
                            </div>

                            <ng-template #pppp>
                                <h5>No projects </h5>
                            </ng-template>
                        </h2>
                    </div>
                </div>

                <div class="message_worker" (click)="messageworker(workerdetails.user?.skill?.phoneNumber)">
                    <button>message</button>
                </div>
            </div>
            <div class="profile-bio">
                <span>Profession</span>
                <p>{{workerdetails.user.skill.profession}}</p>
            </div>


        </div>



    </div>

    <div class="profile-links-container">
        <ul>
            <li>
                <h4 class="active" (click)="onReviews()" id="reviewfont"><a id="tweets-link">REVIEWS</a></h4>
            </li>
            <li>
                <h4 (click)="ontimeline()" id="timefont"><a id="media-link">MEDIA</a></h4>
            </li>
            <li>
                <h4 (click)="onAbout()" id="aboutfont"><a id="likes-link">ABOUT</a></h4>
            </li>
        </ul>
    </div>

    <div class="tweets" id="tweets">
        <div *ngIf="workerdetails.user.skill.reviews!=0">
            <div class="tweet-block" *ngFor="let review of workerdetails.user.skill.reviews">
                <!-- <div *ngIf="!workerdetails.user.skill.reviews">
                    <i class="far fa-user-circle"></i>
                </div> -->

                <img [src]="review.image" alt="image">

                <span class="tweet-content"><span class="display-name">{{review.name}}</span>•<span class="username">@{{review.name}}</span><br>{{review.comment}}</span>
                <div class="tweet-links">
                    <span class="reply-tweet-link"><a ><img src="https://res.cloudinary.com/jorpdesigns/image/upload/v1533134295/speech-bubble.png" alt="reply tweet" /></a></span>
                    <span class="retweet-tweet-link"><a ><img src="https://res.cloudinary.com/jorpdesigns/image/upload/v1533134296/retweet.png" alt="retweet tweet" /></a></span>
                    <span class="like-tweet-link"><a><img src="https://res.cloudinary.com/jorpdesigns/image/upload/v1533134295/star.png" alt="like tweet" /></a></span>
                </div>
            </div>
        </div>


        <!-- <div class="tweet-block">
            <img src="https://res.cloudinary.com/jorpdesigns/image/upload/v1533122246/profile-picture.jpg" alt="profile photo" />
            <span class="tweet-content"><span class="display-name">John James</span>•<span class="username">@JohnJames</span><span class="timestamp">5s</span><br>Going to church together is the most beautiful and unspoken form of intimacy</span>
            <div class="tweet-links">
                <span class="reply-tweet-link"><a href="#"><img src="https://res.cloudinary.com/jorpdesigns/image/upload/v1533134295/speech-bubble.png" alt="reply tweet" /></a></span>
                <span class="retweet-tweet-link"><a href="#"><img src="https://res.cloudinary.com/jorpdesigns/image/upload/v1533134296/retweet.png" alt="retweet tweet" /></a></span>
                <span class="like-tweet-link"><a href="#"><img src="https://res.cloudinary.com/jorpdesigns/image/upload/v1533134295/star.png" alt="like tweet" /></a></span>
            </div>
        </div> -->

        <div class="add-comment">
            <img [src]="reviewimage" alt="">
            <form [formGroup]="ReviewForm" (ngSubmit)="onsend()">
                <input type="text" placeholder="Add a review" formControlName="comment">
                <i style="cursor: pointer;" class="far fa-paper-plane" (click)="onsend()"></i>
            </form>
        </div>
    </div>

    <div class="timeline" id="timeline">
        <h3 style="    margin: 10px 60px !important;
        ">Timeline Photos</h3>
        <div class="img-container" *ngIf="workerdetails.user.skill.Wokerimages.length > 0; else name">
            <div *ngFor="let item of workerdetails.user.skill.Wokerimages;" class="divdiv">
                <img [src]="item" alt="">
            </div>
        </div>
        <ng-template #name>
            <h3 style="    color: #00000099;
          margin: 200px;">No timeline photos available</h3>
        </ng-template>


    </div>

    <div class="about" id="about">
        <h3>Contact info</h3>

        <div>
            <div class="qqqq">
                <h4>Phone:</h4>
                <span>0{{workerdetails.user?.skill?.phoneNumber}}</span>
            </div>

            <div class="qqqq">
                <h4>Email:</h4>
                <span>{{workerdetails.user?.skill?.email}}</span>
            </div>
        </div>

        <h3>Other information</h3>
        <div>

            <div class="qqqq">
                <h4>Gender:</h4>
                <span>{{workerdetails.user?.skill?.gender}}</span>
            </div>

        </div>
    </div>

</div>
