<div style="    padding: 54px 0px;
">
    <!-- <app-navbar></app-navbar> -->
    <!-- <hr> -->
    <div class="content">
        <div class="worker-container">
            <div class="left">
                <div class="img-container">
                    <i *ngIf="!workerdetails.user?.photo" class="far fa-user"></i>
                    <img *ngIf="workerdetails.user?.photo" [src]="workerdetails.user.photo" alt="">
                </div>
            </div>

            <div class="right">

                <div class="top">
                    <div class="top-name">
                        <h1>{{workerdetails.user?.skill?.name}}</h1>
                        <div style="align-items: center;">
                            <i class="fas fa-map-marker-alt"></i>
                            <h3>{{workerdetails?.user?.skill?.location}}</h3>
                        </div>
                    </div>

                    <div class="control">
                        <div smart-tooltip-container class=" control clicktoshow">
                            <i class="fas fa-plus"></i>
                            <h3>Request</h3>

                            <h2 class="smart-tooltip stay-buttom stick-300 stayonhover" id="requests">
                                <div *ngIf=" projects !=0;else pppp">
                                    <span *ngFor="let item of projects">
                                  <h5 (click)="onRequest(item)">{{item.project.name}}</h5>
                                </span>
                                </div>

                                <ng-template #pppp>
                                    <h5>No projects </h5>
                                </ng-template>
                            </h2>
                        </div>
                    </div>
                </div>
                <h2 style="padding: 5px 0px;
                color: #4283E4;
                font-size: 20px;
                font-family: 'Font Awesome 5 Free';
                font-weight: 700;">{{workerdetails.user.skill.profession}}
                </h2>
                <div class="ratings">
                    <h3>Ratings</h3>
                    <div style="display: flex; grid-gap: 10px">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <h2>{{workerdetails.user.skill.ratings}}</h2>
                </div>
                <!-- <button (click)="chat.OpenChat()">Message a worker <i class="far fa-comments"></i></button> -->
                <div class="details">
                    <div class="headings">
                        <h3 (click)="ontimeline()" id="timefont">Timeline</h3>
                        <h3 (click)="onAbout()" id="aboutfont">About</h3>
                        <h3 (click)="onReviews()" id="reviewfont">Reviews</h3>
                    </div>
                    <hr>

                    <div class="about" id="about">
                        <h3>Contact info</h3>

                        <div>
                            <div class="qqqq">
                                <h4>Phone:</h4>
                                <span>0{{workerdetails.user?.skill?.phoneNumber}}</span>
                            </div>

                            <div class="qqqq">
                                <h4>Email:</h4>
                                <span>{{workerdetails.user?.skill?.email}}</span>
                            </div>
                        </div>

                        <h3>Other information</h3>
                        <div>

                            <div class="qqqq">
                                <h4>Gender:</h4>
                                <span>{{workerdetails.user?.skill?.gender}}</span>
                            </div>

                        </div>
                    </div>

                    <div class="timeline" id="timeline">
                        <h3>Timeline Photos</h3>
                        <div class="img-container" *ngIf="workerdetails.user.skill.Wokerimages.length > 0; else name">
                            <div *ngFor="let item of workerdetails.user.skill.Wokerimages;" class="divdiv">
                                <img [src]="item" alt="">
                            </div>
                        </div>
                        <ng-template #name>
                            <h3 style="    color: #00000099;
                            margin: 200px;">No timeline photos available</h3>
                        </ng-template>


                    </div>

                    <div class="review" id="review">
                        <h1>i like banku</h1>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- <app-chatbox #chat></app-chatbox> -->

</div>