<div>
    <app-navbar></app-navbar>
    <hr>
    <div class="content">
        <div class="worker-container">
            <div class="left">
                <div class="img-container">
                    <i *ngIf="!workerdetails.photo" class="far fa-user"></i>
                    <img *ngIf="workerdetails.photo" src="{{workerdetails.photo}}" alt="">
                </div>

            </div>

            <div class="right">

                <div class="top">
                    <div class="top-name">
                        <h1>{{workerdetails.skill.name}}</h1>
                        <div>
                            <i class="fas fa-map-marker-alt"></i>
                            <h3>{{workerdetails.skill.location}}</h3>
                        </div>
                    </div>

                    <div class="control">
                        <i class="fas fa-plus"></i>
                        <h3>Request</h3>
                    </div>
                </div>
                <h2 style="padding: 15px 0px;
                color: #4283E4;
                font-size: 20px;
                font-family: 'Font Awesome 5 Free';
                font-weight: 700;">{{workerdetails.skill.profession}}
                </h2>
                <div class="ratings">
                    <h3>Ratings</h3>
                    <div style="display: flex; grid-gap: 10px">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <h2>{{workerdetails.skill.ratings}}</h2>
                </div>
            </div>
        </div>
    </div>
</div>