.Modal {
    /*display: none;*/
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    // padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;

    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.8);
    /* Black w/ opacity */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #ff6627;
    margin: 0px 15px;
    width: 400px;
    height: 180px;
    border-radius: 10px;
    opacity: 0.9;
    padding: 20px;
}

// h4 {
//     text-align: center;
//     color: #ED1E23;
//     font-size: 20px;
// }


input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    outline: none !important;
    margin: 10px 15px;
    color: black;
    font-family: "Poppins";
    background: white;
}
input::placeholder{
    color:black !important;
}

.psd button {
    height: 2.5rem;
    width: 90%;
    font-size: 22px;
    font-weight: 300;
    margin: 20px 15px;
    background-color: white;
    border: none;
    outline: none;
    color: black;
    cursor: pointer;
    font-family: "Poppins";
    border-radius: 4px;
}

p {
    padding: 10px;
    color: red;
}
