<link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<div class="sidebar">
    <div class="logo-details">
        <i class="bx bxl-c-plus-plus"></i>
        <span class="logo_name">Con-Tek</span>
    </div>
    <ul class="nav-links">
        <li>
            <a routerLink="/dashboard/content/home-page" routerLinkActive="active">
                <i class="bx bx-grid-alt"></i>
                <span class="links_name">Dashboard</span>
            </a>
        </li>
        <li>
            <a routerLink="/dashboard/content/projects" routerLinkActive="active">
                <i class="bx bx-folder-open"></i>
                <span class="links_name">Project</span>
            </a>
        </li>
        <li>
            <a routerLink="/dashboard/content/worker" routerLinkActive="active">
                <i class="bx bx-briefcase"></i>
                <span class="links_name">Worker</span>
            </a>
        </li>

        <li>
            <a>
                <i class="bx bx-task"></i>
                <span class="links_name">Tasks</span>
            </a>
        </li>
        <li class="log_out">
            <a (click)="onLogOut()">
                <i class="bx bx-log-out"></i>
                <span class="links_name">Log out</span>
            </a>
        </li>
    </ul>
</div>
<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class="bx bx-menu sidebarBtn" (click)="onOpensidebar()"></i>
            <span class="dashboard">Dashboard</span>
        </div>
        <div class="search-box">
            <input type="text" placeholder="Search..." (keyup)="updateSearch($event.target.value)" />
            <i class="bx bx-search"></i>
        </div>
        <div class="profile-details" smart-tooltip-container>
            <img style="width: 30%;
            height: 90%;
            object-fit: cover;" *ngIf="user.user?.photo!='null'" src={{user.user?.photo}} id="image">
            <img style="width: 30%;
            height: 90%;
            object-fit: cover;" *ngIf="user?.photo!" src={{user.user?.photo}} id="imagedisplay">
            <span class="admin_name">{{user?.user?.firstName}} {{user.user?.lastName}}</span>
            <i class="bx bx-chevron-down"></i>

            <h3 style="top: 0px; right: 1px; text-align: center" class="smart-tooltip stay-left stick-300 stayonhover" id="hiddenText">
                <div class="profile">
                    <!-- <span  class="material-icons">account_circle</span> -->
                    <i style="position: relative;
                  top: 0px;
                  left: 0px;
                  font-size: 75px;
                  color: black;
                  padding: 0px;" *ngIf="user.user?.photo=='null'" class="fas fa-user-circle"></i>
                    <div class="imgdisp">
                        <img *ngIf="user.user?.photo!='null'" style="height: 70px;width: 70px;border-radius: 50%;" src={{user.user?.photo}} id="image">
                        <img *ngIf="user?.photo!" src={{user.user?.photo}} id="imagedisplay">
                    </div>
                    <!-- <i class="fa fa-camera" (click)="changeProfile($event)"></i> -->
                    <span class="iconify" data-icon="fa:home"></span>
                    <i class="bx bx-chevron-down"></i>


                    <input id="file-upload" type="file" accept="image/*" (change)="onChange($event)" />
                    <h5>{{user?.user?.firstName}} {{user.user?.lastName}}</h5>
                    <h6>{{user.user?.email}}</h6>
                </div>
                <hr />
                <!-- <p (click)="onDashboard()">Dashboard</p> -->

                <!-- <hr />
                <p class="ta" (click)="onLogOut()">logout</p> -->
            </h3>
        </div>
    </nav>

    <div class="home-content">
        <router-outlet></router-outlet>

    </div>
</section>
