.navbar {
    justify-content: space-between;
    display: flex;
    padding: 5px 10px;
    .left-side {
        display: flex;
        text-align: center;
        justify-content: flex-end;
        align-items: center;
        grid-gap: 5px;
        h1 {
            font-size: 20px;
            color: #00000087;
            font-family: "Poppins";
            margin-left: 30px;
        }
        img {
            height: 30px;
            width: 40px;
        }
    }
    .right-side {
        display: flex;
        align-items: center;
        grid-gap: 10px;
        i {
            font-size: 20px;
        }
        #item {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            grid-gap: 5px;
        }
        span {
            font-size: 35px;
        }
        h4 {
            font-size: 16px;
            font-family: "Poppins";
        }
    }
}

#hiddenText {
    color: black;
    font-family: "poppins";
    padding: 10px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    p {
        font-size: 20px;
        text-align: center;
    }
    hr {
        color: rgba(128, 128, 128, 0.253);
    }
    h3,
    img {
        // margin: 0px 74px 20px 75px;
        cursor: pointer;
        font-size: 90px;
        color: #459cE3;
        margin-right: 0px;
    }
    h5 {
        font-size: 15px;
        text-align: center;
        font-family: 'Poppins';
        font-weight: 500;
    }
    h6 {
        font-size: 10px;
        text-align: center;
        opacity: 0.5;
    }
    p {
        // margin-top: 12px;
        padding: 15px;
        cursor: pointer;
        border-radius: .5rem;
        font-size: 1.5rem;
        margin: .7rem 0 !important;
        border: 1px solid #e8b9b9;
        display: inline-block;
        padding: .7rem 2rem;
    }
    p:hover {
        color: black;
        background-color: #459cE3;
    }
}

.profile {
    padding: 10px;
    border-radius: 15px;
    i {
        position: absolute;
        left: 95px;
        top: 60px;
        padding: 10px;
        color: #cfdae5;
        font-size: 20px;
        cursor: pointer;
    }
}

#file-upload {
    display: none;
}

.ta :hover {
    color: blue;
    cursor: pointer;
}

hr {
    color: rgba(0, 0, 0, 0.514);
}