.workers-container {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 20px;
  padding: 150px 25px;
  position: relative;
  .worker {
    background: #fff;
    position: relative;
    //height: 300px;
    display: grid;
    grid-gap: 20px;
    /* grid-template-rows: auto 1fr; */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    flex-direction: column;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.8);

    h4 {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 40px;
      background-color: #006bd8;
      text-align: center;
      color: #fff;
      padding: 3px 4px;
      font-size: 14px;
    }
  }
  .img-container {
    height: 200px;
    width: 220px;
    background-color: #d3d3d3bd;
    img {
      height: 100%;
      width: 100%;
    }
  }
  .details {
    h3 {
      padding: 2px;
      margin-left: 21px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 196px;
      color: black;
    }
    span {
      font-size: 15px;
      font-family: "Poppins";
      text-transform: capitalize;
    }
  }
}

.worker:hover {
  cursor: pointer;
  transform: scale(1.04, 1.04);
}
